
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: "Questrial";
}

#main{
    position: relative;;
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 100%;
    background-size: cover;
}

#nav{
    padding: 0 80px;
    position: relative;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
#nav #navlinks{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
}
#nav i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
}

#navlinks a{
    position: relative;
    margin-left: 25px;
    margin-top: 40px;
    color: #fefefe;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}
#navlinks #active::before{
    content: "";
    position: absolute;
    width: 95%;
    height:3px;
    background-color: #f4f4f4;
    border-radius: 5px;
    bottom: -5%;
    transform: translate(2.9%,70%);

}
#nav header img{
    float:left;
    width: 45px;
    padding-left: 5%;
    padding-right: 2%;
    filter: invert(1);
           
}

#main #hero{
    /* display: flex; */
    /* flex-direction: column; */
    position: absolute;
    width: 40%;
    color: hsl(28, 35%, 92%);
    left: 10%;
    top: 50%;
    transform: translate(0%,-50%);
}
#hero #h6 #sub2{
    font-size:xx-large;
    font-weight: 800;
}

#hero h6{
    display: flex;
}
#hero h6 #sub1{
    line-height: 30px;
    font-size: 40px;
}
#hero h1{
    font-size: 90px;
    line-height: 1;
    margin-top: 10px;

}
#subhero{
    display: flex;
    margin-top: 10px;
}

#subhero #line{
    width: 120px;
    height: 3px;
    background-color: #fff; 
}
#subhero p{
    width: 50%;
    font-size: 12px;
    margin-top: -2px;
    margin-left: 9px;
}
#bottom{
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 20%;
    width: 60%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
#bottom #cube{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
    right: -50px;
    color: white;
    width: 50px;
    height: 50px;
    background-color: #000000;
}
#bottom .sec p{
    margin-left: 3%;
    opacity: .5;
    font-size: 12px;
    font-weight: 500;
}
#mid{
    padding-right: 4%;
    padding-left: 4%;
    border-left: 3px solid rgba(0, 0, 0, 0.273);
    border-right: 3px solid rgba(0, 0, 0, 0.278);
}